<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if isAuthenticated}}
      <li><a href="/addProperty">Add Property</a></li>
      <li><a href="/userProfile">User Page</a></li>
      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>
</header>
    {{{body}}}
    <script src="/public/js/validation.js"></script>
    <script src="/public/js/propertyValidations.js"></script>
</body>
</html>