<header>
  <h1>Welcome to House Rental Application!</h1>
  <p>Are you an international student struggling to find the perfect rental home in the United States? Look no further! Our House Rental Application is here
    to make your search easier and more efficient.</p>
</header>
<form action="/search/check" method="post">
  <label for="searchProperty">
    <input
      type="text"
      id="searchProperty"
      name="searchProperty"
      placeholder="Enter an address, city, state or zip code"
    >
  </label>
  <br>
  <button type="submit">Search</button>
</form>
<section id="how-it-works">
  <h2>How It Works:</h2>
  <ol>
    <li><strong>Search:</strong> Enter your desired location in the search bar and click "Search."</li>
    <li><strong>Browse:</strong> Explore the listings that match your criteria, filtering by price, and more.
    </li>
    <li><strong>Connect:</strong> Found a property you love? Contact the owner through the comment section to schedule
      a viewing or ask questions.</li>
  </ol>
</section>

<div id="ads" hidden></div>
<div id="ads2" hidden></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/public/js/homepage.js"></script>