body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

form {
    padding-top: 5px;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    border: 3px solid black;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="text"]::placeholder {
    color: silver;
}

button[type="submit"] {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#user-card {
    width: 30%;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}
  
#user-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#user-card img {
    border-radius: 50%;
    margin-bottom: 20px;
}
  
#user-card p {
    margin-bottom: 10px;
}

#user-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#user-card button:hover {
    background-color: #3e8e41;
}
  
#edit-form {
    width: 65%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
  
#edit-form label {
    display: block;
    margin-bottom: 10px;
}

#edit-form input[type="text"],
#edit-form input[type="email"],
#edit-form input[type="password"],
#edit-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#edit-form input[type="date"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#edit-form select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#edit-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#edit-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}
  
#edit-form button:hover {
    background-color: #3e8e41;
}
  
#errors {
    color: red;
    margin-top: 10px;
} 
  
button[type="submit"]:hover {
    background-color: silver;
}

#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -120px;
    min-height: 100vh;
    padding: 0 16px;
    box-sizing: border-box;
}

#er {
    display: inline;
}

#login-page h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}
  
#login-form {
    border: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8 px;
    align-items: center; 
}
  
#login-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
}

#login-form input[type="email"],
#login-form input[type="password"] {
padding: 5px;
margin-bottom: 10px;
border: 3px solid #ccc;
border-radius: 5px;
border-color: black;
width: 100%;
padding: 10px;
font-size: 1rem;
}


#login-form input[type="email"]::placeholder,
#login-form input[type="password"]::placeholder {
color: #999;
}

#login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  

  #login-page a {
    display: block;
    margin-top: 20px;
    font-size: 0.8rem;
    text-decoration: none;
  }
  
#login-page a:hover {
    text-decoration: underline;
}
  


#register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    justify-content: center;
    min-height: 100vh;
    padding: 0 16px;
    box-sizing: border-box;
}

#register-page h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#register-form {
    border: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8 px;
}

#register-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#register-form input,
#register-form select {
    padding: 5px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    border-color: black;
}

#register-form input:focus,
#register-form select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #4CAF50;
}

#register-form p {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 5px;
    margin-left: 10px;
}

#register-form button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#register-form button:hover {
    background-color: black;
}

#register-page a {
    text-decoration: none;
    margin-top: 20px;
}

#register-page a:hover {
    text-decoration: underline;
}

#errors {
    color: red;
    font-size: 0.8rem;
    margin-top: 10px;
}

#errors ul {
    padding-left: 20px;
}


.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.card-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}



.property-details {
  padding: 10px;
}

#property-card, #favorite-card {
  padding: 15px;
  border: 1px solid grey;
  margin-bottom: 20px;
}

#property-card p, #favorite-card p {
  margin: 5px 0;
  text-decoration: none;
  font-size: 16px;
}

#property-card strong, #favorite-card strong {
  font-weight: bold;
}

#property-card a, #favorite-card a {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}

#p-card, #f-card {
  text-decoration: none;
}

#property-card a:hover, #favorite-card a:hover {
  text-decoration: underline;
}

#location-map {
  height: 300px;
  width: 50%;
}

#ads {
  width: 250px;
  border: 1px solid grey;
  margin: 18px;
  padding: 12px;
  position: fixed;
  right: 20px; 
  top: 5%
}

#ads2 {
  width: 250px;
  border: 1px solid grey;
  margin: 18px;
  padding: 12px;
  position: fixed;
  right: 20px;
  top: 50% 
}
